<!DOCTYPE HTML>
<html>

<head>
    <title>Register Form</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Meta tag Keywords -->

    <!-- css files -->
    <link rel="stylesheet" href="css/login.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->

</head>

<body>

    <div class="main-bg">
        <br>
        <div class="header">
            <!---start-top-nav---->
            <div class="top-menu">

                <span class="menu"></span>
                <ul>
                    <li class=""><a href="index.html">HOME</a></li>
                    <li><a href="register.html">REGISTER</a></li>
                    <li><a href="login.html">LOGIN</a></li>
                    <div class="clearfix"> </div>
                </ul>
            </div>
            <!---//End-top-nav---->
        </div>
        <!-- title -->
        <h1>Registration Forms</h1>
        <!-- //title -->
        <div class="sub-main-w3">
            <div class="image-style">

            </div>
            <!-- vertical tabs -->
            <div class="vertical-tab">
               
                <div id="section2" class="section-w3ls">
                    <input type="radio" name="sections" id="option2" checked>
                    <label for="option2" class="icon-left-w3pvt"><span class="fa fa-pencil-square"
                            aria-hidden="true"></span>Register</label>
                    <article>
                        <form action="#" method="post">
                            <h3 class="legend">Register Here</h3>
                            <div class="input">
                                <span class="fa fa-user-o" aria-hidden="true"></span>
                                <input type="text" placeholder="Username" name="name" required />
                            </div>
                            <div class="input">
                                <span class="fa fa-key" aria-hidden="true"></span>
                                <input type="password" placeholder="Password" name="password" required />
                            </div>
                            <div class="input">
                                <span class="fa fa-key" aria-hidden="true"></span>
                                <input type="password" placeholder="Confirm Password" name="password" required />
                            </div>

                            <div class="input">
                                <span class="fa fa-phone" aria-hidden="true"></span>
                                <input type="text" placeholder="Phone Number" name="phoneNumber" required />
                            </div>

                            <div class="input">
                                <span class="fa fa-envelope" aria-hidden="true"></span>
                                <input type="text" placeholder="Email" name="email" required />
                            </div>
                            <button type="submit" class="btn submit">Register</button>
                        </form>
                    </article>
                </div>
           
            </div>
            <!-- //vertical tabs -->
            <div class="clear"></div>
        </div>
        <!-- copyright -->
        <div class="copyright">
            <h2>&copy; 2019 Registration Forms. All rights reserved |
            </h2>
        </div>
        <!-- //copyright -->
    </div>

</body>

</html>